.fundo-topo {
    background-color: #FBF8F3;
    
}
.fundo-faixa{
    background-color: #24282B;
}
.corfundo{
    background-color: #F9F8F3
}

.fundo-botao{
    background-color: #DAD0BE;
}

.nav-opcao {
    text-decoration: none;
    color: #3B3830;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-opcao:hover {
    background-color: #C0A678;
    color: white;
}


.nav-opcao.active {
    background-color: #C0A678;
    color: white;
}

.imagem-carrossel {
    height: 600px;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 15px;
}

.destaque-promocao {
    background: linear-gradient(135deg, #DAD0BE, #C0A678);
    color: #3B3830;
    border: 2px solid #C0A678;
}

.btn-explorar {
    background-color: #24282B !important;
    color: #FBF8F3 !important;
    border: none !important;
    transition: 0.3s;
}

.btn-explorar:hover {
    background-color: #3B3830 !important;
}

.rodape {
    background-color: #24282B;
    color: #FBF8F3;
    border-top: 4px solid #C0A678;
}

.rodape h5 {
    color: #C0A678;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.sticky-top {
    top: 20px;
}

.pagina-login {
    background: linear-gradient(
            135deg,
            #FFF7CC 0%,
            #917238 50%,
            #24282B 100%
    );

    min-height: 100vh;
    margin: 0;
}

.login-area {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    width: 450px;
    background-color: #24282B;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

.logo-login {
    text-align: center;
    color: #917238;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-card h2 {
    text-align: center;
    color: #FFF7CC;
    margin-bottom: 30px;
    font-weight: bold;
}

.login-card label {
    display: block;
    margin-bottom: 5px;
    color: #FFF7CC;
    font-weight: 500;
}

.login-card input {
    width: 100%;
    padding: 12px;
    border: 2px solid #917238;
    border-radius: 8px;
    margin-bottom: 18px;
    outline: none;
}

.login-card input:focus {
    border-color: #FFF7CC;
    box-shadow: 0 0 10px rgba(255,247,204,0.3);
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #917238;
    color: #FFF7CC;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #393732;
}

.texto-cadastro {
    text-align: center;
    margin-top: 20px;
    color: #FFF7CC;
}

.texto-cadastro a {
    color: #917238;
    text-decoration: none;
    font-weight: bold;
}

.texto-cadastro a:hover {
    color: #FFF7CC;
}

@media (max-width: 576px) {

    .login-card {
        width: 100%;
        padding: 30px;
    }

}